<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Battle</title>
</head>

<body>

    <h1>🎵 SONG BATTLE</h1>

    <p>Juego interactivo para adivinar canciones</p>
    <a href="/crear-partida">
    <button>CREAR PARTIDA</button>
    </a>
    
    <a href="/unirse">
    <button>UNIRSE A UNA PARTIDA</button>
    </a>

    <br><br>

    <div style="
        border: 1px solid #ccc;
        padding: 15px;
        margin-top: 30px;
        max-width: 700px;
        font-size: 14px;
        color: #555;
        background-color: #f8f8f8;
    ">
        <h3 style="margin-top: 0; color: #333;">
            Aviso de derechos de autor
        </h3>

        <p>
            Este proyecto académico utiliza fragmentos de audio únicamente con fines
            demostrativos y educativos. Los derechos de las obras musicales pertenecen
            a sus respectivos autores. Esta página no reclama propiedad sobre dichas obras.
        </p>
    </div>

</body>
</html>
